version: '3'
services:
    nginx:
        image: lemoncx/nginx:1.18
        container_name: nginx18
        hostname: nginx18
        volumes:
            - ./data:/volume/data
            - ./log/nginx:/volume/log
            - ./config/Nginx:/volume/config
            - /var/www/html/log/nginx:/var/log/nginx
            - /var/www/html/:/var/www/html
            - ~/dockerConf/nginx/key/:/etc/nginx/key/
            - ~/dockerConf/nginx/nginx.conf:/etc/nginx/nginx.conf
            - ~/dockerConf/nginx/sites-av/:/etc/nginx/sites-av/
            - ~/dockerConf/nginx/sites-en/:/etc/nginx/sites-enabled/
        ports:
            - "80:80"
            - "443:443"
        depends_on:
            - "php56"
            - "php84"
            - "soketi"
        extra_hosts:
            - myBOKI:10.0.1.155
            - mysql57:10.0.0.87
            - itix.qrgo.com.tw:127.0.0.1
            - vue3.itix.io:127.0.0.1
        environment:
            - GET_HOSTS_FROM=dns
        deploy:
            resources:
                limits:
                   cpus: "0.80"
                   memory: "4G"
                reservations:
                   cpus: "0.25"
                   memory: "4G"
        restart: always
        networks:
            - soketi_network

    php56:
        image: lemoncx/php:5.6
        container_name: php56
        hostname: php56
        external_links:
            - "nginx18:itix.qrgo.com.tw"
        extra_hosts:
            - myBOKI:10.0.1.155
            - mysql57:10.0.0.87
        environment:
            - GET_HOSTS_FROM=dns
        volumes:
            - /var/www/html/:/var/www/html
            - /var/www/html/log/php-fpm:/var/log/php-fpm
            - ./config/PHP-5.6:/volume/config
            - ./data:/volume/data
            - ./log/php56:/volume/log
            - ~/dockerConf/phpfpm/php.ini:/etc/php.ini
            - ~/dockerConf/phpfpm/php-fpm.conf:/etc/php-fpm.conf
            - ~/dockerConf/phpfpm/www.conf:/etc/php-fpm.d/www.conf
        restart: always
        networks:
            - soketi_network

    php84:
        image: lemoncx/php:8.4
        container_name: php84
        hostname: php84
        external_links:
            - "nginx18:itix.qrgo.com.tw"
        extra_hosts:
            - myBOKI:10.0.1.155
            - mysql57:10.0.0.87
            - vue3.itix.io:127.0.0.1
        environment:
            - GET_HOSTS_FROM=dns
        depends_on:
            - "redisSrv"
        volumes:
            - /var/www/html/:/var/www/html
            - /var/www/html/log/php-fpm:/var/log/php-fpm
            - ./config/PHP84:/volume/config
            - ./data:/volume/data
            - ./log/php84:/volume/log
            - ./config/PHP84/php.ini:/etc/php.ini
            - ./config/PHP84/php-fpm.conf:/etc/php-fpm.conf
            - ./config/PHP84/pools/main.conf:/etc/php-fpm.d/www.conf
        ports:
            - 9084:9000
        restart: always
        networks:
            - soketi_network

    soketi:
        image: 'quay.io/soketi/soketi:latest-16-alpine'
        container_name: soketiSrv
        hostname: soketiSrv
        depends_on:
            - "redisSrv"
        extra_hosts:
            - myBOKI:10.0.1.155
            - vue3.itix.io:127.0.0.1
            - mysql57:10.0.0.87
        environment:
            SOKETI_DEBUG: '1'
            SOKETI_METRICS_ENABLED: 'true'
            SOKETI_METRICS_SERVER_PORT: '9601'
            SOKETI_PORT: '6001'
            SOKETI_DEFAULT_APP_ID: 'livepost'
            SOKETI_DEFAULT_APP_KEY: 'livepost_key'
            SOKETI_DEFAULT_APP_SECRET: 'livepost_secret'
            SOKETI_DB_MYSQL_HOST: 10.0.0.87
            SOKETI_DB_MYSQL_USERNAME: 'root'
            SOKETI_DB_MYSQL_PASSWORD: 'Jamesql'
            SOKETI_DB_MYSQL_DATABASE: 'PrestaTktFarglory'
            SOKETI_APP_MANAGER_DRIVER: 'mysql'
            SOKETI_APP_MANAGER_MYSQL_TABLE: 'websockets_soketi'
            SOKETI_APP_MANAGER_MYSQL_VERSION: '5.7.43'
            SOKETI_APP_MANAGER_MYSQL_USE_V2: 'false'
            SOKETI_RATE_LIMITER_DRIVER: 'redis'
            SOKETI_ADAPTER_DRIVER: 'redis'
            SOKETI_DB_REDIS_HOST: 'redisSrv'
        volumes:
            - /var/www/html/:/var/www/html
            - /var/www/html/log/sockit:/var/log/php-fpm
        ports:
            - '${SOKETI_PORT:-6001}:6001'
            - '${SOKETI_METRICS_SERVER_PORT:-9601}:9601'
        restart: unless-stopped
        networks:
            - soketi_network

    redisSrv:
        image: lemoncx/redis-srv:6.2rc
        container_name: redisSrv
        hostname: redisSrv
        extra_hosts:
            - inbk9:10.88.188.89
            - inbk7:10.88.188.87
        volumes:
            - /var/www/html/redis:/data
        ports:
            - 6379:6379
        restart: always
        networks:
            - soketi_network

    adminer:
       image: adminer
       container_name: onAdmin
       hostname: onAdmin
       restart: always
       extra_hosts:
            - myBOKI:10.0.1.155
            - mysql57:10.0.0.87
       ports:
            - 8080:8080
       environment:
            PMA_HOST: "10.0.1.155"
            ADMINER_PLUGINS: "tables-filter tinymce"
            ADMINER_DEFAULT_SERVER: "mysql"

networks:
    soketi_network:
       driver: bridge
