[mysqld]
skip-host-cache
skip-name-resolve
user            =mysql
datadir         =/var/lib/mysql
socket          =/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
symbolic-links  =0
log-error       =/var/log/mysqld.log
pid-file        =/var/run/mysqld/mysqld.pid
slow_query_log  =1
long_query_time =3

default_authentication_plugin=mysql_native_password
secure-file-priv = ""
sync_binlog     =1

server-id       =8
gtid-mode       =ON
enforce-gtid-consistency
log-bin
binlog-do-db = BokitoV3
binlog_cache_size=350M

#log-slave-updates
#report-host    =inhmas10.apol.lemon.cx
#report-port    =3306

master-info-repository=TABLE
innodb_flush_log_at_trx_commit=1

enforce-gtid-consistency=true
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
#sql_mode=ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

collation-server        = utf8_unicode_ci
character-set-server    = utf8
skip-character-set-client-handshake

#------------------------------- copy from inhmas2
expire_logs_days        =30
max_connections         =2400
myisam_sort_buffer_size =12M
thread_cache_size       =16384
wait_timeout            =1500
connect_timeout         =60
table_definition_cache  =10800
open_files_limit        =3000
max_heap_table_size     =250M
tmp_table_size          =250M
max_allowed_packet      =128M

net_buffer_length       =8M
table_open_cache        =15000

innodb_file_per_table   =1
innodb_data_file_path=ibdata1:16M:autoextend
# from 500M => 1G
innodb_buffer_pool_size =12G
innodb_log_buffer_size  =250M
innodb_thread_concurrency=256
innodb_buffer_pool_dump_now=1
innodb_lock_wait_timeout=60
innodb_buffer_pool_dump_pct=30


concurrent_insert       =2
join_buffer_size        =8M
read_buffer_size        =8M
sort_buffer_size        =4M

[client]
default-character-set=utf8
socket          =/var/lib/mysql/mysql.sock


[mysql]
default-character-set=utf8

